{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}
    <h1>Restaurant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ restaurant.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ restaurant.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ restaurant.description }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ restaurant.phone }}</td>
            </tr>
            <tr>
                <th>Address_nb</th>
                <td>{{ restaurant.addressNb }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ restaurant.address }}</td>
            </tr>
            <tr>
                <th>NotationTotal</th>
                <td>{{ restaurant.notationTotal }}</td>
            </tr>
            <tr>
                <th>CapacityMax</th>
                <td>{{ restaurant.capacityMax }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_restaurant_crud_edit', {'id': restaurant.id}) }}">edit</a>

    {{ include('restaurant_crud/_delete_form.html.twig') }}
{% endblock %}
