{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col my-4">
            <h1>Bienvenue à 1001 Plates</h1>
        </div>
    </div>

    <div class="row my-4">
        <h2 class="fs-4 mb-2">Vous recherchez un restaurant en particulier?</h2>
        
            {{ form_start(formRestoName) }}
            <div class="col col-md-8 d-flex align-items-start gap-2">
                <div class="col-10">
                    {{ form_row(formRestoName.name) }}  
                </div>
                <div class="btn-green">
                    {{ form_widget(formRestoName.Rechercher) }}
                </div>
            </div>
            {{ form_end(formRestoName) }}
 
    </div>

    <div class="row">    
        <div class="col">
            <h2>Sélection par type de cuisine</h2>
            {% if cityName is defined %}
            <h3>{{cityName}}</h3>
            {% endif %}
            <div class="d-flex flex-wrap justify-content-center">

            {% if cityName is defined %}
                {% for foodType in foodTypes %}
                    <a href="{{ path('app_food_type_city',{cityName: cityName, name: foodType.name}) }}"><p class="px-3">{{ foodType.name }}</p></a>
                {% endfor %}

            {% else %}
                {% for foodType in foodTypes %}
                    <a href="{{ path('app_food_type', {name: foodType.name}) }}"><p class="px-3">{{ foodType.name }}</p></a>
                {% endfor %}

            {% endif %}
            
            </div>
            {% if formCityName is defined %}
            <div class="row">
                <div class="col-5">
                    {{ form(formCityName) }}
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <hr>

    <div class="d-flex justify-content-center gap-1">

    {% for restaurant in restaurants %}

        {% include 'restaurant/restaurantCard.html.twig' with { restaurant: restaurant } %}

    {% endfor %}

    </div>


    <div class="row">
        <div class="d-flex justify-content-center gap-2">
        {{ knp_pagination_render(restaurants) }}
        </div>
    </div>

</div>

{% endblock %}

