{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col my-4">
            <h1>Bienvenue à 1001 Plates</h1>
        </div>
    </div>

    <div class="row my-4">
        <h2 class="fs-4 mb-2">Vous recherchez un restaurant en particulier?</h2>
        
            {{ form_start(formRestoName) }}
            <div class="col col-md-8 d-flex align-items-start gap-2">
                <div class="col-10">
                    {{ form_row(formRestoName.name) }}  
                </div>
                <div class="btn-first">
                    {{ form_widget(formRestoName.Rechercher) }}
                </div>
            </div>
            {{ form_end(formRestoName) }}
 
    </div>

    <div class="row">    
        <div class="col">
            <h2 class="my-3">Sélection par type de cuisine</h2>
            {% if cityName is defined %}
            <h3>{{cityName}}</h3>
            {% endif %}
            <div class="d-flex flex-wrap justify-content-center">

            {% if cityName is defined %}
                {% for foodType in foodTypes %}
                    <a href="{{ path('app_food_type_city',{cityName: cityName, name: foodType.name}) }}" class="text-decoration-none"><p class="btn-second px-3">{{ foodType.name }}</p></a>
                {% endfor %}

            {% else %}
                {% for foodType in foodTypes %}
                    <a href="{{ path('app_food_type', {name: foodType.name}) }}" class="text-decoration-none"><p class="btn-second px-3">{{ foodType.name }}</p></a>
                {% endfor %}

            {% endif %}
            
            </div>

            <div class="row">
                <div class="col-5">
                {% if cityName is not defined %}
                    {{ form_start(formCityName) }}
                    <div class="col col-md-8">
                        <div class="col-10">
                            {{ form_row(formCityName.city) }}  
                        </div>
                        <div class="btn-first">
                            {{ form_widget(formCityName.Valider) }}
                        </div>
                    </div>
                    {{ form_end(formCityName) }}
                {% endif %}
                </div>
            </div>

        </div>
    </div>
    <hr>

    <div class="d-flex justify-content-center gap-1">

    {% for restaurant in restaurants %}

        {% include 'restaurant/restaurantCard.html.twig' with { restaurant: restaurant } %}

    {% endfor %}

    </div>


    <div class="row">
        <div class="d-flex justify-content-center gap-2">
        {{ knp_pagination_render(restaurants) }}
        </div>
    </div>

</div>

<div class="container mt-5">
    <section class="newsletter bg-green">
        <div class="row px-5">
            <div class="col px-3 my-3 d-flex gap-5 justify-content-around align-items-center text-white">
                <p class="fs-4 my-0">Tenez-vous au courant des dernières actualités, restaurants tendances et nouveautés</p>
                <a class="nav-link" href="{{ path('app_newsletter_subscribe') }}" title="Newsletter subscribe"><p class="cta-newsletter fs-5 my-0 px-2">S'inscrire à la newsletter</p></a>
            </div>
        </div>
    </section>
</div>


{% endblock %}

