{% extends 'base.html.twig' %}

{% block title %}Restaurant{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mb-5 mt-3">Bienvenue dans votre espace privé</h1>

        <p class="mb-4">Vous pouvez modifier les différentes informations de votre restaurant en cliquant sur les liens plus bas.</p>

        <table class="table">
            <tbody>
                <tr>
                    <th>Nom du restaurant</th>
                    <td>{{ restaurant.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ restaurant.description }}</td>
                </tr>
                <tr>
                    <th>Type de cuisine</th>
                    <td>{{ restaurant.foodType.name }}</td>
                </tr>
                <tr>
                    <th>Téléphone</th>
                    <td>0{{ restaurant.phone }}</td>
                </tr>
                <tr>
                    <th>Numéro de voie</th>
                    <td>{{ restaurant.addressNb }}</td>
                </tr>
                <tr>
                    <th>Nom de voie, ou de la place</th>
                    <td>{{ restaurant.address }}</td>
                </tr>
                <tr>
                    <th>Ville</th>
                    <td>{{ restaurant.city.name }}</td>
                </tr>
                <tr>
                    <th>Capacité maximale d'accueil</th>
                    <td>{{ restaurant.capacityMax }}</td>
                </tr>

            </tbody>
        </table>

        <section class="row d-flex justify-content-center">
            <div class="col col-md-10">
                <h3 class="my-3">Options de modification de votre compte</h3>
                <div class="my-4">
                    <a href="{{ path('app_restaurant_private_edit', {'id': restaurant.id}) }}" class="btn btn-warning">Modifier les informations de mon restaurant</a>
                </div>
                <div class="my-4">
                    <a href="{{ path('app_restaurant_private_pictures', {'id': restaurant.id}) }}" class="btn btn-warning">Ajouter/modifier les photos</a>
                </div>
                <div class="my-4">
                    <a href="{{ path('app_restaurant_private_plates', {'id': restaurant.id}) }}" class="btn btn-warning">Gérer vos listes de plats</a>  
                    <a href="{{ path('app_restaurant_private_menus', {'id': restaurant.id}) }}" class="btn btn-warning">Gérer vos listes de menus</a>          
                </div>
                
            </div>
        </section>

    </div>

{% endblock %}
