{% extends 'base.html.twig' %}

{% block title %}Liste des plats{% endblock %}

{% block body %}

    <div class="container">
    
        <h1 class="mb-5 mt-3">Gérer les plats de mon restaurant</h1>

        <table>
        {% for plate in restaurant.plates %}

            <tr>
                <th>
                    <p class="my-0">{{ plate.name }}</p>
                </th>
                <td>
                <p class="my-0 px-5"> - </p>
                </td>
                <td>
                    <form method="post" action="{{ path('app_restaurant_delete_plate', {id: plate.id}) }}">
                        <button class="btn btn-sm btn-danger">Supprimer le plat</button>
                    </form>
                </td>
            </tr>

        {% endfor %}
        </table>

        <div class="row mt-4">
            <div class="col col-md-8 my-5">
            {{ form_start(form) }}
                <h3>
                    {{ form_label(form.plates) }}
                </h3>
                <p>
                    {{ form_widget(form.plates) }}
                </p>
                {{ form_widget(form.Ajouter) }}
            {{ form_end(form) }}
            </div>
        </div>


        <br>
        <a href="{{ path('app_restaurant_private_accueil') }}" class="btn btn-warning">Revenir à votre page d'accueil</a>
    
    </div>

{% endblock %}