{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col my-4">
            <h1>Bienvenue à 1001 Plates</h1>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center">
        {% for foodType in foodTypes %}
        {% if app.request.get('name') is same as(foodType.name) %}
        <p class="px-3">{{ foodType.name }}</p>
        {% else %}
        <a href="{{ path('app_food_type', {name: foodType.name}) }}"><p class="px-3">{{ foodType.name }}</p></a>
        {% endif %}
        {% endfor %}
    </div>

    <hr>
    <ul class="list-group">
    {% for restaurant in restaurants %}
        <li class="list-group-item d-flex flex-column px-5 mx-5 mb-3">
        <a href="{{ path('app_restaurant_record', {id: restaurant.id}) }}  "><h3>{{restaurant.name}}</h3></a>


        </li>
    {% endfor %}

    </ul>


</div>

{% endblock %}

