
<nav class="navbar navbar-expand-lg bg-blue">
    <div class="container">
        <a class="navbar-brand permanent-marker-regular text-white" href="{{ path('app_index') }}">1001 Plates</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="{{ path('app_index') }}" title="Accueil">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" aria-current="page" href="" title="Créer un compte">Créer un compte</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="{{ path('app_newsletter_subscribe') }}" title="Newsletter subscribe">Newsletter</a>
            </li>

            <li class="nav-item">
                {% if is_granted('ROLE_ADMIN') %}
                    Administrator Adimin
                {% elseif is_granted('ROLE_RESTAURANT') %}
                    <a class="nav-link text-white" href="{{path('app_restaurant_private_accueil')}}" title="Contact">Espace privé</a>
                {% elseif is_granted('ROLE_USER') %}
                    <a class="nav-link text-white" href="" title="Contact">Espace privé</a>
                {% endif %}
            </li>
            
            <li class="nav-item"> 
            {% if app.user %}
                <a class="nav-link text-white" href="{{path('app_logout')}}" title="Contact">Se déconnecter</a>
            {% else %}
                <a class="nav-link text-white" href="{{path('app_login')}}" title="Contact">Se connecter</a>
            {% endif %}
            </li>
            
            </ul>
        </div>
    </div>
</nav>